* {
	margin: 0;
	padding: 0;
}


.mainHeader{
	height: 100%;
	width: 100%;
	margin:0;	
}

.center{
	width: 100%;
	margin:0 auto;
	display: inline-block;
}

.contain-box{
	margin:0;
	background:#26180e; 
	color:#fbbc05;
	width: 100%;
	height: 50px;
    display: inline-block;
}

.logo{
	width: 300px;
    height: 70px;
    font-size: 40px;
    font-style: italic;
    font-family: Rockwell, sans-serif;
    text-shadow: 2px 2px #d1661f;
    margin-left: 150px;
	color: #fbbc05;
	display: inline;
	text-decoration: none;
}

.mainBody{
	height: 100%;
	width: 100%;
	margin:0;
	position: relative;
	background-color: #fbbc05;
	
}
.main-text-file{
	margin: 0;
	display: inline-block;
	width: 100%;
	height: 100%;
	
}
.profil{
float:left;
margin: 25px;
}

.imagine-Prof{
	margin: 20px 30px;
	width: 150px;
	height: 150px;
}


input[type="text"],input[type="password"]{
	height: 35px;
	width: 300px;
	font-size: 18px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 20px;
}

.form-input:before{
 	position: absolute;
 	font-family: "fontAwesome";
 	font-size: 30px;
 	color: #985986;
 	padding-top: 5px;
 	font-size: 35px;
 }

.btn-Change{
	overflow: auto;
	white-space: nowrap;
	display: inline-block;
}

.edit-table td label,.sex{
color: red;	
}

 #Change  {
	color:#221c18;
	width: 80px;
	margin-left: 0px;
	text-align: center;
	margin-top: 10px;
	font-weight: bold;
	font-size: 15px;
	padding:10px 0px;
	background:transparent;
	background-color: #b2860e;
	border: none;
	border-radius: 10px;
	border-bottom: 4px solid #d1661f; 
}
#Sterge {
	color:#221c18;
	width: 80px;
	margin-left: 10px;
	text-align: center;
	margin-top: 10px;
	font-weight: bold;
	font-size: 15px;
	padding:10px 0px;
	background:transparent;
	background-color: #b2860e;
	border: none;
	border-radius: 10px;
	border-bottom: 4px solid #d1661f; 
}



.modal3 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal3-content {
    background-color: #221c18;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.sidebar-content{
	width:15%;
	vertical-align: top; 
	background-color: #d1661f;
	display: inline-block;
	margin: 0;
}
 .tb-full {
	height:100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
.add-pic , .edit-prof {
	height: 30px;
	float: left;
	background-color: #f37422;
    border: none;
    color: #26180e;
    padding: 5px 15px;
    text-align: center;
    font-weight: bold;
    font-family: Rockwell, sans-serif;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 16px;
    margin: 0px 20px 10px ;
    cursor: pointer;
}
input.hidden {
    position: absolute;
    left: -9999px;
    background-color: #f37422;
    border: none;
    color: #26180e;
    padding: 5px 15px;
    text-align: center;
    font-weight: bold;
    font-family: Rockwell, sans-serif;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 16px;
}

.sidebar{
	display: block;
	margin: 30px;
}

.sidebar td{
	width: 100%
	margin-top: 20px;
	border:2 ;
	background-color: #d1661f;
	color: #26180e;
}

.sidebar tr{
	margin-top: 10px;
}

.textFullContent{
	vertical-align: top; 
	display: inline-block;
	width: 85%;
	height:100%; /* IE6: treaded as min-height*/
    min-height:100%; /* real browsers */
}



/* Menu General Styles */
.menuBackground {
	background: #f37422;
	text-align: left; /* or change the value to left to align left*/
}
.dropDownMenu a {
	color: #FFF;
}
.dropDownMenu,
.dropDownMenu ul {
	width: 600px;
	list-style: none;
	margin: 0;
	padding: 0;
}
.dropDownMenu li {
	position: relative;
}
.dropDownMenu a {
	padding: 10px 20px;
	display: block;
	text-decoration: none;
    font-size: 17px;
    font-style: italic;
    font-family: Rockwell, sans-serif;
    background-color: #f37422;
    color: #26180e;
}
.dropDownMenu a:hover {
	background-color: #d1661f; 
}


/* Level 1 Drop Down Menu */
.dropDownMenu > li {
	display: inline-block;
	vertical-align: top;
	margin-left: -4px; /* solve the 4 pixels spacing between list-items */
}
.dropDownMenu > li:first-child {
	margin-left: 0;
}
.dropDownMenu > li > a {}
.dropDownMenu > li > a:hover {}



/* Level 2 */
.dropDownMenu > li > ul {
	text-align: left;
	width: 220px; /* change auto value with 200px if you want a bigger menu */
	display: none;
	background: #5DBB04;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 9999999; /* if you have YouTube iframes, is good to have a bigger z-index so the video can appear above the video */
}
.dropDownMenu > li:hover > ul {
	display: block;
}
.dropDownMenu ul li a {}
.dropDownMenu ul li a:hover {}



/* Level 3 */
.dropDownMenu > li > ul > li > ul {
	text-align: left;
	display: none;
	background: #E7B400;
	position: absolute;
	left: 100%;
	top: 0;
	z-index: 9999999;
}
.dropDownMenu > li > ul > li:hover > ul {
	display: block;
}
.dropDownMenu ul ul li {}
.dropDownMenu ul ul li a {}
.dropDownMenu ul ul li a:hover {}

#clasifAlerg{
	text-align: center;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f37422;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}